/* TitleUnderline.module.css */
.title {
  font-family: "Zen Old Mincho", serif;
  position: relative;
  text-align: center;
  font-size: 2rem;
}

.title h2 {
  margin: 0;
  font-weight: 500;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
}

@media (max-width: 1279px) {
  .title {
    font-size: 1.5rem;
  }
}
