/* footer.module.css */
.footer {
  background-color: #202020;
  color: #fff;
  padding: 2rem 0;
  font-family: "'Shippori Mincho', serif";
}

.logo {
  margin-left: 30px;
  height: auto;
  width: 10%;
}

.footerContent {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footerContent p {
  margin: 0;
}
