@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Sans+JP:wght@200;300;400;500&family=Noto+Serif+JP:wght@200;300;400;500;600&display=swap');

:root {
  --ui-color-brand: #353535;
  --ui-color-n-000: #fff;
  --ui-color-n-050: #f5f5f5;
  --ui-color-n-100: #ebebeb;
  --ui-color-n-300: #aeaeae;
  --ui-color-n-500: #353535;
  --ui-color-n-700: #282828;
  --ui-color-n-900: #1a1a1a;
  --ui-color-n-red: #eb6100;
  --ui-color-n-beige: rgb(250, 243, 224); /* ベージュテーマ */

  /* LIGHT MODE */
  --light-background-color-primary: #f9f9f9;
  --light-background-color-secondary: #fff;
  --light-text-color: #000000;
  /* DARK MODE */
  --dark-background-color-primary: #1a1a1a;
  --dark-background-color-secondary: #000000;
  --dark-text-color: #ddd;

  /* UI COLOR */
  --ui-color-background-primary: var(--light-background-color-secondary);
  --ui-color-background-secondary: var(--light-background-color-secondary);
  --ui-color-background-header: var(--ui-color-background-primary);
  --ui-color-background-footer: var(--ui-color-background-primary);
  --ui-color-typography: var(--light-text-color);
  --ui-color-typography-footer: var(--ui-color-typography);
  --ui-color-typography-hover: var(--ui-color-brand);
  --ui-color-typography-h2: rgb(172, 31, 37);
  /*--ui-color-typography-h2: #ffe200;*/

  /* BUTTON COLOR */
  --ui-color-button-primary: #fff;
  --ui-color-button-secondary: var(--ui-color-brand);

  background-color: var(--ui-color-background-primary);

  /* LIGHT MODE */
  /* --ui-color-background-primary: var(--light-background-color-primary); */
  /* --ui-color-background-secondary: var(--light-background-color-secondary); */
  /* --ui-color-background-header: var(--light-background-color-primary); */
  /* --ui-color-background-footer: var(--light-background-color-primary); */
  /* --ui-color-typography: var(--light-text-color); */

  /* BORDER COLOR */
  /* --ui-color-border: var(--ui-color-n-100); */

  /* TYPOGRAPHY COLOR */
  /* --ui-color-typography-heading: #c6d3e7; */
  /* --ui-color-typography-body: #c6d3e7; */
  /* --ui-color-typography-note: #29665d; */

  /* --ui-color-typography-button: var(--ui-color-n-000); */
  /*--ui-color-typography-footer: var(--ui-color-n-100); */
  /* --ui-color-typography-footer: var(--ui-color-n-300); */

  --ui-typography-typeface: 'Noto Sans JP', sans-serif;
}
html {
  scroll-padding-top: 60px; /* ヘッダーの高さと同じ値に設定 */
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif JP', serif;
}

